img {
    overflow: hidden;
    vertical-align: middle;
    width: 200px;
    height: 300px;
    object-fit:cover;
}

.albumTitle {
font-size: 20px;
color: red;
}

.albumGroup {
font-size: 10px;
color: blue;
}

.albumGenre {
font-size: 10px;
}

.albumDuration {
font-size: 10px;
}

.jumbotron{
    animation-duration: 5s;
    animation-name: fade-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.albumGenre{
    font-size: 20px;
    font-weight: bold ;
    position: absolute;
    margin-top: -570px;
    background-color: white;
}

td > tr